@import url("styles.css");

#login_form {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Add these styles to your existing CSS */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    display: none; /* Initially hidden */
}

#login_form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101; /* Ensure login form appears above overlay */
    height: 29rem;
}

.card {
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 15%, 9%);
    --paragraph: hsl(0, 0%, 83%);
    --line: hsl(240, 9%, 17%);
    --primary: hsl(266, 92%, 58%);
  
    position: relative;
  
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    padding: 1rem;
    padding-top: 2.14rem;
    width: 30rem;
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient(
        at 88% 40%,
        hsla(240, 15%, 9%, 1) 0px,
        transparent 85%
      ),
      radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
      radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
      radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 1) 0px, transparent 85%),
      radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
      radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);
      transform: scaleY(-1);
 
    border-radius: 1rem;
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .card .card_title__container .card_title {
    font-size: 1.63rem;
    margin-left: 7.5px;
    color: var(--white);
    font-weight: bold;
  }
  
  .card .card_title__container .card_paragraph {
    margin-top: 0.25rem;
    width: 100%;
    margin-left: 7.5px;
  
    font-size: 0.87rem;
    color: var(--paragraph);
  }
  
  .card .line {
    width: 100%;
    height: 0.13rem;
    background-color: var(--line);
  
    border: none;

    margin-top: -15px;
  }
  
  .card .button {
    cursor: pointer;
  
    padding: 0.78rem;
    width: 45%;
    margin: 0 auto;
    margin-top: -10px;

    background-image: linear-gradient(
      0deg,
      rgba(94, 58, 238, 1) 0%,
      rgba(197, 107, 240, 1) 100%
    );
  
    font-size: 1rem;
    font-weight: 510;

    color: var(--white);
  
    border: 0;
    border-radius: 9999px;
    box-shadow: inset 0 -2px 25px -4px var(--white);
  }

  .card .button:hover {
    background-image: linear-gradient(
      0deg,
      rgb(60, 16, 239) 0%,
      rgb(149, 31, 203) 100%
    );

    font-weight: 750;
  }
  
  .card .card__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-size: 0.685rem;
    
    margin-top: -0.5px;
    margin-right: 18.5px;

    align-items: end;

    color: white;
  }

  .card .card__list:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 1.2px;
  }

  .card .card__sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.69rem;
    margin-top: -3px;
    margin-bottom: -4px;
    color: white;
  }

  .card .card__sign:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 1.2px;
  }

  /********/
  .input-group {
   position: relative;
  }
  
  .input {
   border: solid 1.5px #9e9e9e;
   border-radius: 1rem;
   background: none;
   padding: 0.6rem;
   font-size: 0.95rem;
   color: #f5f5f5;
   transition: border 150ms cubic-bezier(0.4,0,0.2,1);

   margin-left: 10.5px;
   width: 26.5rem;
  }

  #email { margin-top: -10px;}
  
  .user-label {
   position: absolute;
   left: 15px;
   color: #e8e8e8;
   pointer-events: none;
   transform: translateY(0.65rem);
   transition: 150ms cubic-bezier(0.4,0,0.2,1);
   
   font-size: 0.95rem;
   margin-left: 10px;
  }
  
  .input:focus, input:valid {
   outline: none;
   border: 1.5px solid #1a73e8;
  }
  
  .input:focus ~ label, input:valid ~ label {
   transform: translateY(-50%) scale(0.8);
   background-color: hsla(240, 15%, 9%, 1);/*#212121;*/
   padding: 0 .2em;
   color: #2196f3;
  }

/******************* EYE **********************/
/*------ Settings ------*/
.pwd-container {
  --color: #a5a5b0;
  --size: 15.5px;
  display: inline-flex;
  /* justify-content: center; */
  margin-left: 25.05rem; margin-top: -2.38rem;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.pwd-container .eye {
  position: absolute;
  animation: keyframes-fill .5s;
}

.pwd-container .eye-slash {
  position: absolute;
  animation: keyframes-fill .5s;
  display: none;
}

/* ------ On check event ------ */
.pwd-container input:checked ~ .eye {
  display: none;
}

.pwd-container input:checked ~ .eye-slash {
  display: inline-block;
}

/* ------ Hide the default checkbox ------ */
.pwd-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }
}