beautifulsoup4>=4.10.0
requests>=2.31.0
selenium>=4.1.0
pandas>=1.3.3

scikit-learn>=1.0.1
tensorflow>=2.11.1
matplotlib>=3.4.3
openpyxl>=3.1.2

nltk>=3.6.3
textblob>=0.15.3
weasel>=0.1.1
spacy>=3.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz

seaborn>=0.13.2

Django>=4.1.13
django-bootstrap4>=3.0.0

Flask>=2.2.5
pyrebase4>=4.5.0
firebase-admin>=5.2.0

langdetect>=1.0.9
httpx>=0.23.0
googletrans>=4.0.0-rc1

# Instructions for downloading and installing Tesseract OCR:
# 1. Download Tesseract:
#    - Visit https://github.com/UB-Mannheim/tesseract/wiki to download the installer.
#
# 2. Install Tesseract:
#    - Run the downloaded installer to install Tesseract on your system.
#
# 3. Add Tesseract to System PATH:
#    - Open the Start Menu and search for "Environment Variables".
#    - Click on "Edit the system environment variables".
#    - In the System Properties window, click on the "Environment Variables" button.
#    - In the Environment Variables window, find the "Path" variable in the "System variables" section, and click "Edit".
#    - Click "New" and add the path to the directory where tesseract.exe is installed. (By default, it might be C:\Program Files\Tesseract-OCR).
