{% extends "base.html" %}

{% block title %}Image | Truth Tracker{% endblock %}

{% block content %}
<div class="container">
    <button class="smtbtn mx-auto" disabled="true">
        &nbsp;Image Text Classification&nbsp;
    </button>
    <br><br>
    <input type="file" id="image-upload" accept="image/*" style="margin-left: 94px;
        width: 740px; background-color: rgb(227, 239, 255);">
    <button class="upload" id="upload-button" style="margin-left: 44px;">Upload</button>
    <br><br>
    <p class="prompt main">Your extracted text:</p>
    <textarea type="text" placeholder="Entered text..." class="edit-text main"
        style="height: 135px;"></textarea>
    <p class="warning"></p>
    <button class="btn3 mx-auto">
        Check that fact
    </button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    $(document).ready(function() {
        $('#upload-button').click(function(e) {
            e.preventDefault();
            var formData = new FormData();
            var imageFile = $('#image-upload')[0].files[0];
            if (!imageFile) {
                alert("Please select an image file first.");
                return;
            }

            formData.append('image', imageFile);
            formData.append('csrfmiddlewaretoken', csrftoken);

            $.ajax({
                url: "{% url 'upload_image' %}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    $('.edit-text.main').val(response.extracted_text);
                },
                error: function(xhr, status, error) {
                    alert("An error occurred: " + error);
                }
            });
        });
    });
    ////////////////////// Navigation functionality //////////////////////
    $(document).ready(function() {
        $('.btn3').on('click', function() {
            var text = $('.edit-text.main').val();
            var title = $('#title_txt').val();
            var url = $('#url_txt').val();
            var publisher_site = $('#publisher_txt').val();
            var claim_date = $('#date_txt').val();

            // Check if the main text area is empty
            if (text.trim() === '') {
                $('.warning').text('Please enter some text in the above field.').css('display', 'block');
            } else {
                // Send an AJAX request to the server to validate the text length
                $.ajax({
                    type: 'POST',
                    url: '/validate_text/',
                    data: {'text': text},
                    success: function(response) {
                        if (!response.is_valid_length) {
                            $('.warning').text('Please provide a longer input.').css('display', 'block');
                        } else if (response.is_gibberish) {
                            $('.warning').text('Your text seems like gibberish. Try again.').css('display', 'block');
                        } else if (response.lang_detected != "en"){ //&& response.lang_detected != "ur") {
                            $('.warning').text('Please enter English text.').css('display', 'block');
                        } else { //all validation checks passed
                            $('.warning').css('display', 'none'); // Hide the warning message
                            $(".loader-container").show(); // Show the loader when the button is clicked
                                window.scrollTo({
                                    top: 0,
                                    behavior: 'smooth' // This enables smooth scrolling
                            });
                            // Start a timer to change loader text after 10 seconds
                            var timer = setTimeout(function() {
                                $('.loader-text').text('Just a few more seconds...');
                            }, 9000);
                            $.ajax({
                                type: 'POST',
                                url: '/process-text/',  
                                data: {
                                    'text_input': text,
                                    'title': title,
                                    'url': url,
                                    'publisher_site': publisher_site,
                                    'claim_date': claim_date
                                },
                                success: function(response) { // Handle success response
                                    window.location.href = '/results/?text=' + text + '&result=' + response.result
                                        + '&sentiment=' + response.sentiment + '&sentiment_score=' + response.sentiment_score
                                        + '&personal=' + response.personal_classification + '&entities=' + response.entities
                                        + '&ranked_entities=' + response.ranked_entities + '&ensemble_result=' + response.ensemble_result
                                        + '&multiple_classification=' + response.multiple_classification + '&trustworthiness='
                                        + response.trustworthiness + '&outdated_warning=' + response.outdated_warning;
                                }
                            });
                        }
                        // Hide the warning message after 10 seconds
                        setTimeout(function() {
                                $('.warning').css('display', 'none');
                            }, 25000);
                        }
                });
            }
        });
    });
</script>
{% endblock %}
